<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipe para mostrar decimales y porcentajes.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ventasNetas | number: '1.2-2'}}   
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente año">            
            {{ (ventasNetas + 1000000) | currency:'USD':'symbol-narrow':'1.0-4' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia porcentual"
                subheader="del presente año">            
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>

    <!-- <div class="col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date: 'short'}}</li>
                <li>{{fecha | date: 'long'}}</li>
                <li>{{fecha | date: 'MMMM'}}</li>
                <li>{{fecha | date: 'MMMM dd, yyyy'}}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date: 'long': 'GMT-6' : 'es-HN'}}</li>
                <li>{{fecha | date: 'long': 'GMT-4'}}</li>
                <li>{{fecha | date: 'long': 'GMT-4' : 'fr'}}</li>
            </ul>
        </p-card>
    </div> -->    
</div>
